.input-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.input-wrapper label {
    font-weight: bold;
    margin-right: 1rem;
}

.input-wrapper input {
    width: 3rem;
    border-radius: 5px;
    border: 1px solid #ccc;
    font: inherit;
    padding-left: 0.5rem;
}